.hero h1 {
    color: #ff4444 !important;     /* raudonas */
    text-shadow: 4px 4px 10px #000 !important;
}
.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    color: white;
    display: flex;
    align-items: center;
}

tr.overdue {
    background-color: #ffe6e6 !important;
}

tr.overdue td {
    color: #c62828;
    font-weight: 500;
}