{% extends "autoservice/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h2 class="mb-4 text-center">{% trans "Password reset" %}</h2>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary w-100">
                    {% trans "Send password reset email" %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}